.productdash{
    position: absolute;
    top:0;
    left:25%;
    width: 70%;
}
body{
    background-color: #FDF6EC;
}

.communityIcon{
    display: flex;
    margin-left: 90%;
    gap:8%;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border: 2px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }
  