.productdash{
    position: absolute;
    top:0;
    left:25%;
    width: 70%;
}
body{
    background-color: #FDF6EC;
}

.communityIcon{
    display: flex;
    margin-left: 90%;
    gap:8%;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border: 2px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }
  
  .create-community-button{
    background-color:#ECBE5C ;
    border: 3px solid #ECBE5C;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 10px;
    color:black ;
    font-weight: 700;
  }

  .create-community input{
        background-color:#FDF6EC ;
        border: 3px solid #ECBE5C;
        border-radius: 50px;
        padding: 10px 10px;
        width:20%

  }